@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Quihubo profe</h1>
    <div class="row">
		<img id="img1" src="~/imagenes/WhatsApp Image 2024-10-30 at 8.46.41 AM.jpeg" />
		<button class="btn btn-info" onclick="alerta()">Botoncito</button>
	</div>
</div>
